.html, body {
    height: 100%;
    width: 100%;
    
}
@font-face {
    font-family: 'MyWebFont';
    src: url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
    
}
#container {
    /* height:100%; */
}
.app-android {
    font-family: MyWebFont,sans-serif;
}
.app-android .app-topbar {
    background-color: #7C578C;
    height:61px;
    text-align:center;
    /* padding:0; */
    /* margin:0; */
    /* text-align:center; */
    /* display:block; */
    padding:0px;
    position:relative;
    width:100%;
    margin-left:0px;
    padding-left:0px;
}
.app-android .app-topbar .app-title  {
    font-size:2em;
    /* font-family:"Roboto",sans-serif; */
    /* padding:0; */
    /* float:none; */
    /* clear:both; */
    /* vertical-align:middle; */
    /* margin-right: auto; */
    /* margin-left: auto; */
/* line-height:0; */
    position:absolute;
    left:35%;
    top:.2em;
}

.user-avatar {
    Background-color:#fff;
    width:3em;
    height:3em;
    display:inline-block;
    /* float:left; */
/* margin-top:2%; */
    position: absolute;
    left:1.5em;
    top:10%;
    /* margin-left:7px; */
}

#three-dot-menu {
    position: absolute;
    left:0px;
    top:34%;
    /* margin-right:5px; */
    padding-left:0;
    margin-left:0;
}

#new-post {
    position:absolute;
    right:0;
    top:34%;
}

.app-topbar .icon-menu:before {
    margin-left:0;

}

.app-android .app-page {
    background-color: #7C578C;
    position:relative;
    height:100%;
}

#bottom-bar {
    height:3.8em;
    /* height:11%; */
    background-color:#fff;
    width:100%;
    bottom:0;
    padding:0;
    margin:0;
    position:absolute;
    /* position:relative; */
    border-top:1px solid black;
    border-bottom:1px solid black;
    
}
#bottom-bar .user-avatar {
    Background-color: #fff;
    border: 1px solid black;
    left:0.5em;
    margin-bottom:3em;
    
}
#tag-section {
    float: right;
    width:40%;
    display:inline-block;
    border-left:1px solid black;
    /* position:relative; */
    /* right:0; */
    Background-color:#fff;
    height:100%;
}
.thisContent {
    height:80%;
    background-color: #fff;
    position:relative;
    clear:both;
    padding:1em;
    text-align:center;
}

.thisContent h2{
/* color:red; */
    
}

.app-content {
    /* height:25%; */
    /* position:absolute; */
    /* top:2em; */
    /* background-color: #7C578C; */
/* margin-bottom:65px; */
    padding-bottom:0;
    margin-bottom:0;
   
}
.app-section {
    /* height:75%; */
/* padding-bottom:66px; */
    /* max-height:94%; */
    /* height:28em; */
    /* margin-bottom:1em; */
    /* padding:20px; */
    /* padding:0; */
    /* margin:0;     */
}

.main {
    height:23em;
    /* height:87%; */
    /* min-height:2%; */
    overflow:hidden;
}
 .app-section .main .entry-content {
    /* overflow: hidden; */
    /* color: red; */
     /* max-height: 314px; */
 /* max-height:50%; */
     padding:0;
     margin: 0;
 }

 .entry-content * img, img {
     max-width:90%;
     height: auto;
 }
 
.app-section .main .app-button {
    /* position: relative; */
    /* bottom:0px; */
    /* margin-top:5px; */

}